@model IEnumerable<ShopBaseballBats.Models.BatBrand>

@{
    ViewData["Title"] = "Index";
}

<h1>Welcome to Fastpitch Softball Bats</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BrandName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModelNames)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Length)
            </th>
            
           
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BrandName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModelNames)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Length)
            </td>
            
            <td>
                |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> 
                
               
            </td>
        </tr>
}
    </tbody>
</table>


