@model ShopBaseballBats.Models.BaseballBat
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    // ViewBag.Title =  Model.DisplayText;//"Baseball Bat Shop";
    //ViewData["Title"] = "Home Page";
    ViewData["Title"] = "Fastpitch Softball Bats";
    ViewBag.ShowBackBar = true;

}
<h2>@Model.DisplayText</h2>
<div class="row">
    <div class="col-md-6">
        <div class="well">
            <h5><label>Bat Brand:</label> @Model.BatBrand</h5>
           
            <h5><label>Favorite:</label> @(Model.Favorite ? "Yes" : "No")</h5>
            @if (Model.BatModels.Length > 0)
                {
                    <h5>Models:</h5>
                    <div>
                        <ul>
                            @foreach (var batModel in Model.BatModels)
                                {   
                                    <li>@batModel.ModelName: @batModel.Length/@batModel.Weight</li>
                            
                                }
                        </ul>
                    </div>
                }
            
        </div>
        <h5>Description:</h5>
        <p>@Html.Raw(Model.DescriptionHtml)</p>
    </div>
        
       
    
    <div class="col-md-6" style="height: 200px;">
        
        <img src="/Images/lxt22.jpg" alt="@Model.DisplayText" class="img-respnsive"/>
    </div>
   
</div>


        
            

   