@model List<ShopBaseballBats.Models.BatBrand>
@{
    ViewBag.Title = "Fastpitch Softball Bats";
    //ViewBag.Customer = "Customer Information";            <h3>@ViewBag.Customer</h3>
}
<h2>@ViewBag.Title</h2>


<div class="row">
    @foreach (var baseballBats in Model)
    {
        <div class="col-md-3">
        <h4>@Html.ActionLink(baseballBats.DisplayText, "Detail", new { id = baseballBats.Id } )</h4>
          <a href="@Url.Action("Detail", new { id = baseballBats.Id})">
            <img src="/Images/@baseballBats.CoverImageFileName"
                alt="@baseballBats.DisplayText"
                class="img-responsive"/>
          </a>
        </div>
        
    }
    
</div>